<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Micro Reddit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= yield :head %>
    <%= render "default_tags/defaults" %>
  </head>

  <body>
    <main class="mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
